<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Request</title>
    <link rel="stylesheet" href="/css/regForm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/logo.png">
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css " rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include('../sidebar') %>
    
    <div class="main--content">
        <div class="tabular--wrapper">
            <!-- <h3 class="main--title">Student Information</h3> -->
            <div class="table--container">
                <table class="list" id="studentInfo">
                    <thead>
                        <tr class="for-center">
                            <th>Action</th>       
                            <th>Last Name</th>
                            <th>MI</th>
                            <th>First Name</th>

                        </tr>
                    </thead>
                     <tbody id="hehe">
                        <% registration_forms.forEach((form) => { %>
                            <tr>
                                <td class="actions">
                                    <button class="print" id="<%= form.uid %>">Print</button>
                                    <button class="accept" data-action="ACCEPT" id="<%= form.uid %>">Accept</button>
                                    <button class="reject" data-action="REJECT"  id="<%= form.uid %>">Reject</button>
                                </td>
                                <td><%= form.FirstName %></td>
                                <td><%= form.MiddleName %></td>
                                <td><%= form.LastName %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    <div class="form-background">
    <div class="the-container">
    <div class="view">
        <form action="">
            <div class="reg-form">
              <div class="title-form">
                <div class="form-logo"><img src="/images/logo.png" alt=""></div>
                <div class="school-name">
                    <h3>IETI College of science & Technology</h3>
                    <h4>Magsaysay Ave. Brgy. Magsaysay, San Pedro, Laguna</h4>
                    <p>COLLEGE OF SCIENCE AND TECHNOLOGY</p>
                </div>
              </div>
             
             <div class="title-2">
                    <h3>Registration Card</h3>
                    <h5>Registrar's Copy</h5>
              </div>

              <div class="info">
                <p>PRINT NAME:</p>
                <div class="name-container">
                 <div class="fullname">
                    <input type="text" class="lastname" name="lastname" value="">
                    <label for="lastname">Family</label>
                 </div>
                 <div class="fullname">
                    <input type="text" class="firstname" name="first">
                    <label for="first">first</label>
                 </div>
                 <div class="fullname">
                    <input type="text" class="middle" name="middle">
                    <label for="middle">middle</label>
                 </div>
                </div>
                <div class="student-num">
                    <input type="text" class="student-number" name="student-number">
                    <label for="student-number">student number</label>
                </div>
              </div>
              <div class="course-container">
                <div class="course">
                    <label for="course">Course/Year Level:</label>
                    <input type="text" class="course" name="course">  
                </div>
              </div>
              <div class="info2">
                <div class="main-container">
                <div class="container-major">
                <div class="major-container">
                    <label for="major">Major:</label>
                    <input type="text" class="major" name="major">
                </div>
                <div class="semester">
                    <input type="text" class="major" id="sem" name="sem">
                    <label for="sem">Sem.</label>
                    <label for="sem">/Summer</label>
                    <input type="text" class="major" name="sem"> 
                </div>
               </div>
               <div class="year-container">
                <div class="container-year">
                    <label for="">Curriculum Year: </label>
                    <input type="checkbox" id="1st" name="first" value="1st">
                    <label for="first">1st</label>
                     <input type="checkbox" id="2nd" name="second" value="2nd">
                    <label for="second">2nd</label>
                    <input type="checkbox" id="3rd" name="third" value="3rd">
                    <label for="third">3rd</label>
                    <input type="checkbox" id="4th" name="fourth" value="4th">
                   <label for="fourth">4th</label>
                    </div>
                </div>
                <p>Credential Submitted: ( )form 138 ( )BC ( )Copy of Grades ( )Others</p>
               </div>
               <div class="student-container">
                <div class="student-status">
                    
                    <input type="checkbox" id="new" name="asd1" value="new">
                    <label for="new"> New</label><br>
                    <input type="checkbox" id="re-enrollee" name="asd1" value="Re-enrollee">
                    <label for="re-enrollee"> Re-enrollee</label><br>
                    <input type="checkbox" id="cross-enrollee" name="asd1" value="cross-enrollee">
                    <label for="cross-enrollee"> Cross-enrollee</label>
                    
                  </div>
               </div>
            </div>
            
            <div class="table-container1">
                <div class="grid">
                    <div class="header">
                      <div class="head">Course Title</div>
                      <div class="head">Unit</div>
                      <div class="head">Time</div>
                      <div class="head">Days</div>
                      <div class="head">Room</div>
                      <div class="head">Instructor</div>
                   </div>
                   <div class="section first-table">
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      
                   </div>
                   
                 </div>
                </div>
            <div class="approved-container">
                <p>Approved:</p>
                <div class="approved">
                    <div class="pirma">
                    <input type="text" id="firsts" name="first">
                    <label for="first">College Head</label>
                </div>
                <div class="pirma">
                     <input type="text" id="seconds" name="second">
                    <label for="second">Registrar</label>
                </div>
                <div class="pirma">
                    <input type="text" id="thirds" name="third">
                    <label for="third">Date of Registration</label>
                    </div>
                </div>
                </div>
            </div>
        </form>
        
    </div>
<!-- -------------------------------------------------second container ***********************************************-->
    <div class="second-container">
        <form action="">
            <div class="reg-form">
              <div class="title-form">
                <div class="form-logo"><img src="/images/logo.png" alt=""></div>
                <div class="school-name">
                    <h3>IETI College of science & Technology</h3>
                    <h4>Magsaysay Ave. Brgy. Magsaysay, San Pedro, Laguna</h4>
                    <p>COLLEGE OF SCIENCE AND TECHNOLOGY</p>
                </div>
              </div>
             
             <div class="title-2">
                    <h3>Registration Card</h3>
                    <h5>College Head's Copy</h5>
              </div>

              <div class="info">
                <p>PRINT NAME:</p>
                <div class="name-container">
                 <div class="fullname">
                    <input type="text" class="lastname" name="lastname">
                    <label for="lastname">Family</label>
                 </div>
                 <div class="fullname">
                    <input type="text" class="firstname" name="first">
                    <label for="first">first</label>
                 </div>
                 <div class="fullname">
                    <input type="text" class="middle" name="middle">
                    <label for="middle">middle</label>
                 </div>
                </div>
                <div class="student-num">
                    <input type="text" class="student-number" name="student-number">
                    <label for="student-number">student number</label>
                </div>
              </div>
              <div class="course-container">
                <div class="course">
                    <label for="course">Course/Year Level:</label>
                    <input type="text" class="course" name="course">  
                </div>
              </div>
              <div class="info2">
                <div class="main-container">
                <div class="container-major">
                <div class="major-container">
                    <label for="major">Major:</label>
                    <input type="text" class="major" name="major">
                </div>
                <div class="semester">
                    <input type="text" class="major" id="sem" name="sem">
                    <label for="sem">Sem.</label>
                    <label for="sem">/Summer</label>
                    <input type="text" class="major" name="sem"> 
                </div>
               </div>
               <div class="year-container">
                <div class="container-year">
                    <label for="">Curriculum Year: </label>
                    <input type="checkbox" id="1st" name="first" value="1st">
                    <label for="first">1st</label>
                     <input type="checkbox" id="2nd" name="second" value="2nd">
                    <label for="second">2nd</label>
                    <input type="checkbox" id="3rd" name="third" value="3rd">
                    <label for="third">3rd</label>
                    <input type="checkbox" id="4th" name="fourth" value="4th">
                   <label for="fourth">4th</label>
                    </div>
                </div>
                <p>Credential Submitted: ( )form 138 ( )BC ( )Copy of Grades ( )Others</p>
               </div>
               <div class="student-container">
                <div class="student-status">
                    
                    <input type="checkbox" id="new" name="asd2" value="new">
                    <label for="new"> New</label><br>
                    <input type="checkbox" id="re-enrollee" name="asd2" value="Re-enrolle">
                    <label for="re-enrollee"> Re-enrollee</label><br>
                    <input type="checkbox" id="cross-enrollee" name="asd2" value="cross-enrollee">
                    <label for="cross-enrollee"> Cross-enrollee</label>
                    
                  </div>
               </div>
            </div>
            
            <div class="table-container1">
                <div class="grid">
                    <div class="header">
                      <div class="head">Course Title</div>
                      <div class="head">Unit</div>
                      <div class="head">Time</div>
                      <div class="head">Days</div>
                      <div class="head">Room</div>
                      <div class="head">Instructor</div>
                   </div>
                   <div class="section second-table">
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                      <div class="cell"></div>
                   </div>
                   
                 </div>
                </div>
            <div class="approved-container">
                <p>Approved:</p>
                <div class="approved">
                    <div class="pirma">
                    <input type="text" id="firsts" name="first">
                    <label for="first">College Head</label>
                </div>
                <div class="pirma">
                     <input type="text" id="seconds" name="second">
                    <label for="second">Registrar</label>
                </div>
                <div class="pirma">
                    <input type="text" id="thirds" name="third">
                    <label for="third">Date of Registration</label>
                    </div>
                </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
    <!-- form 2 --------------------------------------->
    <div class="form-background ibabako">
        <div class="super--container">
            <div class="form1">
                <div class="title--container">
                    <h3>IETI College of Science & Technology, Inc.</h3>
                    <p>STUDENT'S PERSONAL AND ACADEMIC RECORD</p>
                </div>
                <div class="info1-container">
                    <div class="name-info">
                        <div class="print-name">
                            <p>PRINT NAME: </p>
                        </div>
                        <div class="name-container">
                            <div class="fullnames">
                                <input type="text" id="lastname" name="lastname">
                                <label for="lastname">Family</label>
                            </div>
                            <div class="fullnames">
                                <input type="text" id="first" name="first">
                                <label for="first">first</label>
                            </div>
                            <div class="fullnames">
                                <input type="text" id="middle" name="middle">
                                <label for="middle">middle</label>
                            </div>
                        </div>
                        <div class="student--number">
                            <input type="text" id="student-number" class="student-number" name="student-number">
                            <label for="student-number">student number</label>
                        </div>
                    </div>
                </div>
    
                <div class="info2-container">
                    <div class="bday-container">
                        <label for="birthday">date of birth</label>
                        <input type="text" name="" id="birthday">
                    </div>
                    <div class="status-container">
                        <label for="status">status</label>
                        <input type="text" id="status">
                    </div>
                    <div class="gender-container">
                        <label for="gender">sex</label>
                        <input type="text" id="gender">
                    </div>
                </div>
      
                <div class="info3-container">
                    <div class="PoB">
                        <label for="placeofBirth">Place of birth</label>
                        <input type="text" id="placeofBirth">
                    </div>
                    <div class="national">
                        <label for="nationality">Nationality</label>
                        <input type="text" name="" id="nationality">
                    </div>
                </div>
    
                <div class="info4-container">
                    <div class="address-container">
                        <label for="adsress">address</label>
                        <input type="text" name="" id="address">
                    </div>
                    <div class="tel-container">
                        <label for="tel">Tel. no</label>
                        <input type="text" name="" id="tel">
                    </div>
                </div>
    
                <div class="info5-container">
                    <div class="religion-container">
                        <label for="religion">Religion</label>
                        <input type="text" id="religion">
                    </div>
                    <div class="email-container">
                        <label for="email">Email</label>
                        <input type="email" id="email">
                    </div>
                </div>
    
                <div class="info6-container">
                    <div class="provincial-container">
                        <label for="prov">Provincial address</label>
                        <input type="text" id="prov">
                    </div>
                </div>
    
                <div class="info7-container">
                    <div class="parents-container">
                        <label for="parents">Parents/guardian</label>
                        <input type="text" name="" id="parents">
                    </div>
                    <div class="occupation-container">
                        <label for="occupation">Occupation</label>
                        <input type="text" id="occupation">
                    </div>
                </div>
        
                <div class="info4-container">
                    <div class="address-container2">
                        <label for="adsress">address</label>
                        <input type="text" name="" id="address">
                    </div>
                    <div class="tel-container1">
                        <label for="tel">Tel. no. at work</label>
                        <input type="text" name="" id="tel">
                    </div>
                </div>
    
                <div class="info9-container">
                    <div class="job-container">
                        <label for="job">If Working student, Job/occupation</label>
                        <input type="text" id="job">
                    </div>
                    <div class="employers-container">
                        <label for="employers">Employers address</label>
                        <input type="text" id="employers">
                    </div>
                </div>
                <div class="info10-container">
                    <div class="emNum-container">
                        <label for="emNum">Tel.NO</label>
                        <input type="text" id="emNum">
                    </div>
                    <div class="scholar-container">
                        <label for="scholar">Scholarship or aid granted, for this term</label>
                        <input type="text" id="scholar">
                    </div>
                </div>
    
                <div class="academic-container">
                     <div class="academic-title">
                        <h3>previous scholastic record</h3>
                     </div>
    
                     <div class="academics">
                        <div class="academic">
                            <div class="grade-container">
                                <label for="grade">Grade 6:</label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="grade6">
                            </div>
                         
                            <div class="yearlabel-container">
                                <label for="year">Year</label>
                            </div>
                            <div class="yearInput-container">
                                <input type="text" name="" id="year6">
                            </div>
                         </div>
        
                         <div class="academic">
                            <div class="grade-container">
                                <label for="grade">Grade 10:</label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="grade10">
                            </div>
                         
                            <div class="yearlabel-container">
                                <label for="year">Year</label>
                            </div>
                            <div class="yearInput-container">
                                <input type="text" name="" id="year10">
                            </div>
                         </div>
                         <div class="academic">
                            <div class="grade-container">
                                <label for="grade">Grade 12:</label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="grade12">
                            </div>
                         
                            <div class="yearlabel-container">
                                <label for="year">Year</label>
                            </div>
                            <div class="yearInput-container">
                                <input type="text" name="" id="year12">
                            </div>
                         </div>
                         <div class="academic">
                            <div class="grade-container">
                                <label for="grade">Degree earned</label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="de">
                            </div>
                         
                            <div class="yearlabel-container">
                                <label for="year">Year</label>
                            </div>
                            <div class="yearInput-container">
                                <input type="text" name="" id="deyear">
                            </div>
                         </div>
                     </div>
                     
                </div>
    
                <div class="studentSignature">
                    <input type="text" id="studentSignature">
                    <label for="studentSignature">Student's signature</label>
                </div>
    
    
            </div>
    
            <!-- form2 ----------------------------->
            <div class="form2">
                <div class="title--container">
                    <h3>IETI College of Science & Technology, Inc.</h3>
                    <p>STUDENT'S PERSONAL AND ACADEMIC RECORD</p>
                </div>
                <div class="info1-container">
                    <div class="name-info">
                        <div class="print-name">
                            <p>PRINT NAME: </p>
                        </div>
                        <div class="name-container">
                            <div class="fullnames">
                                <input type="text" id="lastname" name="lastname">
                                <label for="lastname">Family</label>
                            </div>
                            <div class="fullnames">
                                <input type="text" id="first" name="first">
                                <label for="first">first</label>
                            </div>
                            <div class="fullnames">
                                <input type="text" id="middle" name="middle">
                                <label for="middle">middle</label>
                            </div>
                        </div>
                        <div class="student--number">
                            <input type="text" id="student-number" class="student-number" name="student-number">
                            <label for="student-number">student number</label>
                        </div>
                    </div>
                </div>
    
                <div class="info2-container">
                    <div class="bday-container">
                        <label for="birthday">date of birth</label>
                        <input type="text" name="" id="birthday">
                    </div>
                    <div class="status-container">
                        <label for="status">status</label>
                        <input type="text" id="status">
                    </div>
                    <div class="gender-container">
                        <label for="gender">sex</label>
                        <input type="text" id="gender">
                    </div>
                </div>
      
                <div class="info3-container">
                    <div class="PoB">
                        <label for="placeofBirth">Place of birth</label>
                        <input type="text" id="placeofBirth">
                    </div>
                    <div class="national">
                        <label for="nationality">Nationality</label>
                        <input type="text" name="" id="nationality">
                    </div>
                </div>
    
                <div class="info4-container">
                    <div class="address-container">
                        <label for="adsress">address</label>
                        <input type="text" name="" id="address">
                    </div>
                    <div class="tel-container">
                        <label for="tel">Tel. no</label>
                        <input type="text" name="" id="tel">
                    </div>
                </div>
    
                <div class="info5-container">
                    <div class="religion-container">
                        <label for="religion">Religion</label>
                        <input type="text" id="religion">
                    </div>
                    <div class="email-container">
                        <label for="email">Email</label>
                        <input type="email" id="email">
                    </div>
                </div>
    
                <div class="info6-container">
                    <div class="provincial-container">
                        <label for="prov">Provincial address</label>
                        <input type="text" id="prov">
                    </div>
                </div>
    
                <div class="info7-container">
                    <div class="parents-container">
                        <label for="parents">Parents/guardian</label>
                        <input type="text" name="" id="parents">
                    </div>
                    <div class="occupation-container">
                        <label for="occupation">Occupation</label>
                        <input type="text" id="occupation">
                    </div>
                </div>
        
                <div class="info4-container">
                    <div class="address-container2">
                        <label for="adsress">address</label>
                        <input type="text" name="" id="address">
                    </div>
                    <div class="tel-container1">
                        <label for="tel">Tel. no. at work</label>
                        <input type="text" name="" id="tel">
                    </div>
                </div>
    
                <div class="info9-container">
                    <div class="job-container">
                        <label for="job">If Working student, Job/occupation</label>
                        <input type="text" id="job">
                    </div>
                    <div class="employers-container">
                        <label for="employers">Employers address</label>
                        <input type="text" id="employers">
                    </div>
                </div>
                <div class="info10-container">
                    <div class="emNum-container">
                        <label for="emNum">Tel.NO</label>
                        <input type="text" id="emNum">
                    </div>
                    <div class="scholar-container">
                        <label for="scholar">Scholarship or aid granted, for this term</label>
                        <input type="text" id="scholar">
                    </div>
                </div>
    
                <div class="academic-container">
                     <div class="academic-title">
                        <h3>previous scholastic record</h3>
                     </div>
    
                     <div class="academics">
                        <div class="academic">
                            <div class="grade-container">
                                <label for="grade">Grade 6:</label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="grade6">
                            </div>
                         
                            <div class="yearlabel-container">
                                <label for="year">Year</label>
                            </div>
                            <div class="yearInput-container">
                                <input type="text" name="" id="year6">
                            </div>
                         </div>
        
                         <div class="academic">
                            <div class="grade-container">
                                <label for="grade">Grade 10:</label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="grade10">
                            </div>
                         
                            <div class="yearlabel-container">
                                <label for="year">Year</label>
                            </div>
                            <div class="yearInput-container">
                                <input type="text" name="" id="year10">
                            </div>
                         </div>
                         <div class="academic">
                            <div class="grade-container">
                                <label for="grade">Grade 12:</label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="grade12">
                            </div>
                         
                            <div class="yearlabel-container">
                                <label for="year">Year</label>
                            </div>
                            <div class="yearInput-container">
                                <input type="text" name="" id="year12">
                            </div>
                         </div>
                         <div class="academic">
                            <div class="grade-container">
                                <label for="grade">Degree earned</label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="de">
                            </div>
                         
                            <div class="yearlabel-container">
                                <label for="year">Year</label>
                            </div>
                            <div class="yearInput-container">
                                <input type="text" name="" id="deyear">
                            </div>
                         </div>
                     </div>
                     
                </div>
    
                <div class="studentSignature">
                    <input type="text" id="studentSignature">
                    <label for="studentSignature">Student's signature</label>
                </div>
    
    
            </div>
        </div>


    </div>
    
       

    <!------------------------ form3 -->
    <div class="form-background instibidow">
        <div class="form3--container">
            <form action="" class="form--one" id="form--one">
                <div class="header--container"> <!--title--------------------->
                    <div class="image--container">
                        <img src="/images/logo.png" alt="" height="80px" width="80px">
                    </div>
                    <div class="title--container">
                        <h3>IETI college of science & technology, inc.</h3>
                        <h4>magsaysay ave. brgy, magsaysay, san pedro, laguna</h4>
                        <p>college of science and technology</p>
                    </div>
                </div>
                
                <div class="card--title">
                    <h3>registration card</h3>
                    <p>cashier's copy</p>
    
                    <div class="control--container">
                        <label for="control">control no: </label>
                        <input type="text" name="" id="control">
                    </div>
                </div>
    
                <div class="fullname--container">
                    <div class="print--name">
                        <p>print name:</p>
                    </div>
                    <div class="name--container">
                        <div class="family--container">
                            <input type="text" id="family">
                            <label for="family">family</label>
                        </div>
                        <div class="first--container">
                            <input type="text" name="" id="first">
                            <label for="first">first</label>
                        </div>
                        <div class="middle--container">
                            <input type="text" id="middle">
                            <label for="middle">middle</label>
                        </div>
                        
                    </div>
                    <div class="student--container">
                        <input type="text" id="studentNum" class="student-number">
                        <label for="studentNum">students number</label>
                    </div>
                    
                </div>
                <div class="course--container">
                    <label for="course">Course/Year:</label>
                    <input type="text" id="course" class="course">
                </div>
    
                
                <div class="table-container2">
                    <div class="grid">
                        <div class="header2">
                          <div class="head">Course Number and Course Title</div>
                          <div class="head">Unit</div>
                          <div class="head">Description Fee</div>
                          <div class="head">Amout</div>
                       </div>
                       <div class="section2 third-table">
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          
                       </div>
                       
                     </div>
                    </div>
                <div class="footer-container">
                    <div class="aprroved--container">
                        <p class="approve">Approved:</p>
                        <div class="head--name">
                            <p>Mrs. mary ann b. reyes</p>
                            <div class="line"></div>
                            <p>college head</p>
                        </div>
                        <div class="head--name">
                            <p>mrs. divina gracia a. somine</p>
                            <div class="line"></div>
                            <p>registrar</p>
                        </div>
                        <div class="date--container">
                            <label for="date">Date:</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="total--container">
                        <p>I promise to pay the amount/s as scheduled: </p>
    
                        <div class="footers--last">
                            <div class="payment--container">
                                <p>Upon registration:</p>
                                <p>Before Prelims:</p>
                                <p>Before Midterm:</p>
                                <p>Before Final: </p>
                                <p class="total">total:</p> 
                            </div>
                            <div class="pesos">
                                <p>P___________________</p>
                                <p>P___________________</p>
                                <p>P___________________</p>
                                <p>P___________________</p>
                                <p class="total">P___________________</p>
        
                            </div>
                        </div>
                    </div>
                </div>
    
            </form>
    
            <form action="" class="form--two" id="form--one">
                <div class="header--container"> <!--title--------------------->
                    <div class="image--container">
                        <img src="/images/logo.png" alt="" height="80px" width="80px">
                    </div>
                    <div class="title--container">
                        <h3>IETI college of science & technology, inc.</h3>
                        <h4>magsaysay ave. brgy, magsaysay, san pedro, laguna</h4>
                        <p>college of science and technology</p>
                    </div>
                </div>
                
                <div class="card--title">
                    <h3>registration card</h3>
                    <p>Student's copy</p>
    
                    <div class="control--container">
                        <label for="control">control no: </label>
                        <input type="text" name="" id="control">
                    </div>
                </div>
    
                <div class="fullname--container">
                    <div class="print--name">
                        <p>print name:</p>
                    </div>
                    <div class="name--container">
                        <div class="family--container">
                            <input type="text" id="family">
                            <label for="family">family</label>
                        </div>
                        <div class="first--container">
                            <input type="text" name="" id="first">
                            <label for="first">first</label>
                        </div>
                        <div class="middle--container">
                            <input type="text" id="middle">
                            <label for="middle">middle</label>
                        </div>
                        
                    </div>
                    <div class="student--container">
                        <input type="text" id="studentNum" class="student-number">
                        <label for="studentNum">students number</label>
                    </div>
                    
                </div>
                <div class="super--info">
                    <div class="course-container">
                        <div class="course">
                            <label for="course">Course/Year Level:</label>
                            <input type="text" class="course" name="course">  
                        </div>
                      </div>
                      <div class="info2">
                        <div class="main--containerist">
                        <div class="container--major">
                        <div class="major-container">
                            <label for="major">Major:</label>
                            <input type="text" class="major" name="major">
                        </div>
                        <div class="semesterist">
                            <input type="text" class="major" id="sem" name="sem">
                            <label for="sem">Sem.</label>
                            <label for="sem">/Summer</label>
                            <input type="text" class="major" name="sem"> 
                        </div>
                       </div>
                       <div class="year-containerist">
                        <div class="container--year">
                            <label for="">Curriculum Year: </label>
                            <input type="checkbox" id="1st" name="year" value="1st">
                            <label for="first">1st</label>
                             <input type="checkbox" id="2nd" name="year" value="2nd">
                            <label for="second">2nd</label>
                            <input type="checkbox" id="3rd" name="year" value="3rd">
                            <label for="third">3rd</label>
                            <input type="checkbox" id="4th" name="year" value="4th">
                           <label for="fourth">4th</label>
                            </div>
                        </div>
                        <p>Credential Submitted: ( )form 138 ( )BC ( )Copy of Grades ( )Others</p>
                       </div>
                       <div class="student--containerist">
                        <div class="student--status">
                            
                            <input type="checkbox" id="new" name="asd3" value="new">
                            <label for="new"> New</label><br>
                            <input type="checkbox" id="re-enrolle" name="asd3" value="Re-enrolle">
                            <label for="re-enrollee"> Re-enrollee</label><br>
                            <input type="checkbox" id="cross-enrollee" name="asd3" value="cross-enrollee">
                            <label for="cross-enrollee"> Cross-enrollee</label>
                            
                          </div>
                       </div>
                </div>
    
                <div class="table-container1">
                    <div class="grid">
                        <div class="header3">
                          <div class="head">Course Number and Course Title</div>
                          <div class="head">Unit</div>
                          <div class="head">Time</div>
                          <div class="head">Days</div>
                          <div class="head">Room</div>
                          <div class="head">Instructor</div>
                       </div>
                       <div class="section3 fourth-table">
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                          <div class="cell"></div>
                       </div>
                       
                     </div>
                    </div>
    
                <div class="footer-container">
                    <div class="aprroved--container">
                        <p class="approve">Approved:</p>
                        <div class="head--name">
                            <p>Mrs. mary ann b. reyes</p>
                            <div class="line"></div>
                            <p>college head</p>
                        </div>
                        <div class="head--name">
                            <p>mrs. divina gracia a. somine</p>
                            <div class="line"></div>
                            <p>registrar</p>
                        </div>
                        <div class="date--container">
                            <label for="date">Date:</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="total--container">
                        <p>I promise to pay the amount/s as scheduled: </p>
    
                        <div class="footers--last">
                            <div class="payment--container">
                                <p>Upon registration:</p>
                                <p>Before Prelims:</p>
                                <p>Before Midterm:</p>
                                <p>Before Final: </p>
                                <p class="total">total:</p> 
                            </div>
                            <div class="pesos">
                                <p>P___________________</p>
                                <p>P___________________</p>
                                <p>P___________________</p>
                                <p>P___________________</p>
                                <p class="total">P___________________</p>
        
                            </div>
                        </div>
                    </div>
                </div>
    
            </form>
        </div>
    </div>
    </div>
    


    <!-------------------------------------- lastform -->
    <div class="form-background downkonga">
        <div class="last--container">
        <form class="last--form">
            <div class="container--boxes">
                <div class="first--box">
                    <h3>Total assessment</h3>
                    <section class="payments">
                        <div class="content--one">
                            <p>Tuitions</p>
                            <p>Miscellaneous Fee</p>
                            <p>Lab. Fee</p>
                            <p>Computer</p>
                            <p>I.D Fee</p>
                            <p>Others</p>
                            <h5>Total</h5>
                        </div>
                        <div class="content--two">
                           <p>_______</p>
                           <p>_______</p>
                           <p>_______</p>
                           <p>_______</p>
                           <p>_______</p>
                           <p>_______</p>
                        </div>
                    </section>
                </div>
                <div class="second--box">
                    <h3>Due For</h3>
                    <section class="payment--two">
                        <div class="content--three">
                            <p>Prelim</p>
                            <p>Midterm</p>
                            <p>Final</p>
                            <p class="down">Down</p>
                            <p class="Cash">Cash</p>
                        </div>
                        <div class="content--four">
                            <p>_________</p>
                            <p>_________</p>
                            <p>_________</p>
                            <p class="down">_________</p>
                            <p class="Cash">_________</p>
                        </div>
                    </section>
                </div>
                <div class="third--box">
                    <div class="box--third">
                        <h3>IETI</h3>
                        <div class="cont">
                            <div class="labels">
                                <p>___________</p>
                                <p>___________</p>
                                <p>___________</p>
                                <p>___________</p>
                                <p>___________</p>
                                <p>ISSUED BY:</p>
                            </div>
                            <div class="ewan"><p class="ewanko">PERMIT</p></div>
                        </div>
                    </div>
                    <div class="nakakapusa">
                        <div class="label">
                            <p>COLLEGE OF</p>
                            <p>STUDENT NO.</p>
                        </div>
                        <div class="guhit">
                            <p>_________</p>
                            <p>_________</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="fullname---container">
                <div class="print--name">
                    <p>print name:</p>
                </div>
                <div class="name--container">
                    <div class="family--container">
                        <input type="text" id="family">
                        <label for="family">family</label>
                    </div>
                    <div class="first--container">
                        <input type="text" name="" id="first">
                        <label for="first">first</label>
                    </div>
                    <div class="middle--container">
                        <input type="text" id="middle">
                        <label for="middle">middle</label>
                    </div>
                </div>
            </div>

            <div class="instruction--container">
                <h3>Notice to every student</h3>
                <div class="container--paragraph">
                    <ol>
                        <li>Accomplish both side of this form</li>
                        <li>Present your credential high school card (Form 138), transcript of record (Form 137-A), Honorable dismissal (for transferees) or Xerox copy of college transcript of record (for degree holders) together with this form to the Registrar or his/her duty authorized representative for evaluation, approval and assesment of tuition fees. </li>
                        <li>After assesment and approval of this enrollment form, pay your school fees at the Cashier's Office demand for official receipt. After payment, claim your class card, ID card and a copy of your enrollment card from Registrar's Office. You are now enrolled.</li>
                        <li>On the first day of classes, present your enrollment card/class card to your instructor/instructress</li>
                        <li>If a students decide to withdraw his/her enrollment, a written request should be submitted to the Registrar's Office. The student shall be charged accordingly as follows: <br>
                        a. Php. 3,000.00 if he/she widthdraws before classes start. <br>
                        b. Twenty percent (20%) of the total amount due for the term, if within the second week of classes. <br>
                        c. If he/she withdraw anytime after the second week of classes, he/she may be charged all the school fees in full.</li>
                        <li>Any student who drops of class without making arrangement with the Registrar's Office will be accountable for the balance of the tuition fees.</li>
                    </ol>
                </div>
            </div>
        </form>

        <form action="" class="cashiersCopy">
            <div class="title--two">
                <h3>ieti college of science & technology, inc.</h3>
            </div>
            <div class="curriculums--container">
                <div class="cur">
                    <label for="cur">Curriculum Year</label>
                    <input type="text" id="cur">
                </div>
                <div class="taon">
                    <label for="first">1st</label>
                    <input type="text" id="1st">
                    <label for="second">2nd</label>
                    <input type="text" id="2nd">
                    <label for="third">3rd</label>
                    <input type="text" id="3rd">
                    <label for="fourth">4th</label>
                    <input type="text" id="4th">
                </div>
            </div>
            <div class="fullnames--container">
                <div class="printing--name">
                    <p>print name:</p>
                </div>
                <div class="names--container">
                    <div class="familya--container">
                        <input type="text" id="family">
                        <label for="family">family</label>
                    </div>
                    <div class="First--container">
                        <input type="text" name="" id="first">
                        <label for="first">first</label>
                    </div>
                    <div class="Middle--container">
                        <input type="text" id="middle">
                        <label for="middle">middle</label>
                    </div>
                    
                </div>
                <div class="Students--container">
                    <input type="text" id="studentNum" class="student-number">
                    <label for="studentsNum">students number</label>
                </div>
                
            </div>
            <div class="info2-container">
                <div class="bday-container">
                    <label for="birthday">date of birth</label>
                    <input type="text" name="" id="birthday">
                </div>
                <div class="status-container">
                    <label for="status">status</label>
                    <input type="text" id="status">
                </div>
                <div class="gender-container">
                    <label for="gender">sex</label>
                    <input type="text" id="gender">
                </div>
            </div>
    
            <div class="info3-container">
                <div class="PoB">
                    <label for="placeofBirth">Place of birth</label>
                    <input type="text" id="placeofBirth">
                </div>
                <div class="national">
                    <label for="nationality">Nationality</label>
                    <input type="text" name="" id="nationality">
                </div>
            </div>
    
            <div class="info4-container">
                <div class="address-container">
                    <label for="adsress">address</label>
                    <input type="text" name="" id="address">
                </div>
                <div class="tel-container">
                    <label for="tel">Tel. no</label>
                    <input type="text" name="" id="tel">
                </div>
            </div>
    
            <div class="info5-container">
                <div class="religion-container">
                    <label for="religion">Religion</label>
                    <input type="text" id="religion">
                </div>
                <div class="email-container">
                    <label for="email">Email</label>
                    <input type="email" id="email">
                </div>
            </div>
    
            <div class="info6-container">
                <div class="provincial-container">
                    <label for="prov">Provincial address</label>
                    <input type="text" id="prov">
                </div>
            </div>
    
            <div class="info7-container">
                <div class="parents-container">
                    <label for="parents">Parents/guardian</label>
                    <input type="text" name="" id="parents">
                </div>
                <div class="occupation-container">
                    <label for="occupation">Occupation</label>
                    <input type="text" id="occupation">
                </div>
            </div>
    
            <div class="info4-container">
                <div class="address-container2">
                    <label for="adsress">address</label>
                    <input type="text" name="" id="address">
                </div>
                <div class="tel-container1">
                    <label for="tele">Tel. no. at work</label>
                    <input type="text" name="" id="tele">
                </div>
            </div>
    
            <div class="info9-container">
                <div class="job-container">
                    <label for="job">If Working student, Job/occupation</label>
                    <input type="text" id="job">
                </div>
                <div class="employers-container">
                    <label for="employers">Employers address</label>
                    <input type="text" id="employers">
                </div>
            </div>
            <div class="info10-container">
                <div class="emNum-container">
                    <label for="emNum">Tel.NO</label>
                    <input type="text" id="emNum">
                </div>
                <div class="scholar-container">
                    <label for="scholar">Scholarship or aid granted, for this term</label>
                    <input type="text" id="scholar">
                </div>
            </div>
            <div class="student-pledge">
                <h3>student's pledge</h3>
                <div class="authorize">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In consideration of my admission to ieti and of the privileges of a student in this school, I hereby promise and pledge to aside by and comply with all the rules and regulations laid down by the competent authorities in the school and the college in which i am enrolled.<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I hereby certify that i have submitted all required documents for enrollment that all said documents and/or entries thereof are true and genuine and i have followed all the required registration procedured of ieti that is hereby understood that my enrollment can be cancelled and/or invalidated by school authorities if any of the above are not satisfied and/or complied with
                    </p>
                </div>
            </div>
            <div class="students-signature">
                <input type="text" id="signature">
                <label for="signature">STUDENT'S SIGNATURE</label>
            </div>
            </form>
    </div>
</div>
    
</div>
<script type="text/javascript" src="/js/formRequest.js"></script>
</body>
</html>