<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="/css/studentCourse.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/logo.png">
    <script src="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css
    " rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include('../sidebar') %>
    <div class="main--content">
        <div class="header--wrapper">
            <div class="header--title">
                <h2>Academic Profile</h2>
            </div>
            <div class="user--info">
                <div class="unerolled">
                    <button id="finish">Finish All</button>
                </div>
                <div class="search--box">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <input type="text" placeholder="Search" id="myInput" onkeyup="myFunction()">
                </div>
                <!-- <img src="/images/luffy.png" alt=""> -->
            </div>
        </div>
        <div class="tabular--wrapper" id="bsit">
            <h3 class="main--title">BSIT</h3>
            <button class="view-all-button">View all</button>
            <ul class="tabs">
                <li class="tab active" data-year="1">1st Year</li>
                <li class="tab" data-year="2">2nd Year</li>
                <li class="tab" data-year="3">3rd Year</li>
                <li class="tab" data-year="4">4th Year</li>
            </ul>
            <div class="table-container">
                
                <table class="list bsit" id="studentInfo1">
                    <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>MI</th>
                            <th>First Name</th>
                            <th>Year</th>
                            <th>Course</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="hehe1">
                        
                        <% BSIT.length >= 1 && BSIT.forEach((stud) => { if(stud["Year"] == "1st Year"){ %>
                            <tr>
                                <td><%= stud["FirstName"] %></td>
                                <td><%= stud["MiddleName"] %></td>
                                <td><%= stud["LastName"] %></td>
                                <td><%= stud["Year"] %></td>
                                <td><%= stud["Course"] %></td>
                                <td><%= stud["enrolment_status"] %></td>
                            </tr>
                        <% } }) %>
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                    </tfoot>
                </table>
                <!-- 2nd Year Table -->
                <table class="list bsit" id="studentInfo2" style="display: none;">
                    <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>MI</th>
                            <th>First Name</th>
                            <th>Year</th>
                            <th>Course</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="hehe2">
                    
                        <% BSIT.length >= 1 && BSIT.forEach((stud) => { if(stud["Year"] == "2nd Year"){ %>
                            <tr>
                                <td><%= stud["FirstName"] %></td>
                                <td><%= stud["MiddleName"] %></td>
                                <td><%= stud["LastName"] %></td>
                                <td><%= stud["Year"] %></td>
                                <td><%= stud["Course"] %></td>
                                <td><%= stud["enrolment_status"] %></td>
                            </tr>
                        <% } }) %>
                       
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                    </tfoot>
                </table>
                <!-- 3nd Year Table -->
                <table class="list bsit" id="studentInfo3" style="display: none;">
                    <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>MI</th>
                            <th>First Name</th>
                            <th>Year</th>
                            <th>Course</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="hehe3">
                        
                        <% BSIT.length >= 1 && BSIT.forEach((stud) => { if(stud["Year"] == "3rd Year"){ %>
                            <tr>
                                <td><%= stud["FirstName"] %></td>
                                <td><%= stud["MiddleName"] %></td>
                                <td><%= stud["LastName"] %></td>
                                <td><%= stud["Year"] %></td>
                                <td><%= stud["Course"] %></td>
                                <td><%= stud["enrolment_status"] %></td>
                            </tr>
                        <% } }) %>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                    </tfoot>
                </table>
                 <!-- 4th Year Table -->
                 <table class="list bsit" id="studentInfo4" style="display: none;">
                    <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>MI</th>
                            <th>First Name</th>
                            <th>Year</th>
                            <th>Course</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="hehe3">
                        
                        <% BSIT.length >= 1 && BSIT.forEach((stud) => { if(stud["Year"] == "4th Year"){ %>
                            <tr>
                                <td><%= stud["FirstName"] %></td>
                                <td><%= stud["MiddleName"] %></td>
                                <td><%= stud["LastName"] %></td>
                                <td><%= stud["Year"] %></td>
                                <td><%= stud["Course"] %></td>
                                <td><%= stud["enrolment_status"] %></td>
                            </tr>
                        <% } }) %>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                    </tfoot>
                </table>
                
            </div>
        </div>
        <div class="tabular--wrapper" id="beed">
            <h3 class="main--title">BEED</h3>
            <button class="view-all-button">View all</button>
            <div class="course-content">
                <ul class="tabs">
                    <!-- BEED Tabs go here -->
                    <li class="tab active" data-year="1">1st Year</li>
                    <li class="tab" data-year="2">2nd Year</li>
                    <li class="tab" data-year="3">3rd Year</li>
                    <li class="tab" data-year="4">4th Year</li>
                </ul>
                <div class="table-container">
                    <!-- BEED Tables go here -->
                    <table class="list beed" id="studentInfo1">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe1">
                            
                            <% BEED.length >= 1 && BEED.forEach((stud) => { if(stud["Year"] == "1st Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 2nd Year Table -->
                    <table class="list beed" id="studentInfo2" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe2">
                            
                            <% BEED.length >= 1 && BEED.forEach((stud) => { if(stud["Year"] == "2nd Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>
                           
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 3nd Year Table -->
                    <table class="list beed" id="studentInfo3" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe3">
                            
                            <% BEED.length >= 1 && BEED.forEach((stud) => { if(stud["Year"] == "3rd Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                     <!-- 4th Year Table -->
                     <table class="list beed" id="studentInfo4" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe3">
                            
                            <% BEED.length >= 1 && BEED.forEach((stud) => { if(stud["Year"] == "4th Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                
            </div>
        </div>
    
        <!-- BSBA Section -->
        <div class="tabular--wrapper" id="bsba">
            <h3 class="main--title">BSBA</h3>
            <button class="view-all-button">View all</button>
            <div class="course-content">
                <ul class="tabs">
                    <!-- BSBA Tabs go here -->
                    <li class="tab active" data-year="1">1st Year</li>
                <li class="tab" data-year="2">2nd Year</li>
                <li class="tab" data-year="3">3rd Year</li>
                <li class="tab" data-year="4">4th Year</li>
                </ul>
                <div class="table-container">
                    <!-- BSBA Tables go here -->
                    <table class="list bsba" id="studentInfo1">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe1">

                            <% BSBA.length >= 1 && BSBA.forEach((stud) => { if(stud["Year"] == "1st Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 2nd Year Table -->
                    <table class="list bsba" id="studentInfo2" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe2">

                            <% BSBA.length >= 1 && BSBA.forEach((stud) => { if(stud["Year"] == "2nd Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 3nd Year Table -->
                    <table class="list bsba" id="studentInfo3" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe3">

                            <% BSBA.length >= 1 && BSBA.forEach((stud) => { if(stud["Year"] == "3rd Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                     <!-- 4th Year Table -->
                     <table class="list bsba" id="studentInfo4" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe3">

                            <% BSBA.length >= 1 && BSBA.forEach((stud) => { if(stud["Year"] == "4th Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    
        <!-- BSCA Section -->
        <div class="tabular--wrapper" id="bsca">
            <h3 class="main--title">BSCA</h3>
            <button class="view-all-button">View all</button>
            <div class="course-content">
                <ul class="tabs">
                    <!-- BSCA Tabs go here -->
                    <li class="tab active" data-year="1">1st Year</li>
                <li class="tab" data-year="2">2nd Year</li>
                <li class="tab" data-year="3">3rd Year</li>
                <li class="tab" data-year="4">4th Year</li>
                </ul>
                <div class="table-container">
                    <!-- BSCA Tables go here -->
                    <table class="list bsca" id="studentInfo1">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe1">

                            <% BSCA.length >= 1 && BSCA.forEach((stud) => { if(stud["Year"] == "1st Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 2nd Year Table -->
                    <table class="list bsca" id="studentInfo2" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe2">

                            <% BSCA.length >= 1 && BSCA.forEach((stud) => { if(stud["Year"] == "2nd Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 3nd Year Table -->
                    <table class="list bsca" id="studentInfo3" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe3">

                            <% BSCA.length >= 1 && BSCA.forEach((stud) => { if(stud["Year"] == "3rd Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                     <!-- 4th Year Table -->
                     <table class="list bsca" id="studentInfo4" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe3">

                            <% BSCA.length >= 1 && BSCA.forEach((stud) => { if(stud["Year"] == "4th Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    
        <!-- BSCPE Section -->
        <div class="tabular--wrapper" id="bscpe">
            <h3 class="main--title">BSCPE</h3>
            <button class="view-all-button">View all</button>
            <div class="course-content">
                <ul class="tabs">
                    <!-- BSCPE Tabs go here -->
                    <li class="tab active" data-year="1">1st Year</li>
                <li class="tab" data-year="2">2nd Year</li>
                <li class="tab" data-year="3">3rd Year</li>
                <li class="tab" data-year="4">4th Year</li>
                </ul>
                <div class="table-container">
                    <!-- BSCPE Tables go here -->
                    <table class="list bscpe" id="studentInfo1">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe1">

                            <% BSCpE.length >= 1 && BSCpE.forEach((stud) => { if(stud["Year"] == "1st Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 2nd Year Table -->
                    <table class="list bscpe" id="studentInfo2" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe2">

                            <% BSCpE.length >= 1 && BSCpE.forEach((stud) => { if(stud["Year"] == "2nd Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 3nd Year Table -->
                    <table class="list bscpe" id="studentInfo3" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe3">

                            <% BSCpE.length >= 1 && BSCpE.forEach((stud) => { if(stud["Year"] == "3rd Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                     <!-- 4th Year Table -->
                     <table class="list bscpe" id="studentInfo4" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe3">

                            <% BSCpE.length >= 1 && BSCpE.forEach((stud) => { if(stud["Year"] == "4th Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    
        <!-- BSHRM Section -->
        <div class="tabular--wrapper" id="bshrm">
            <h3 class="main--title">BSHRM</h3>
            <button class="view-all-button">View all</button>
            <div class="course-content">
                <ul class="tabs">
                    <!-- BSHRM Tabs go here -->
                    <li class="tab active" data-year="1">1st Year</li>
                <li class="tab" data-year="2">2nd Year</li>
                <li class="tab" data-year="3">3rd Year</li>
                <li class="tab" data-year="4">4th Year</li>
                </ul>
                <div class="table-container">
                    <!-- BSHRM Tables go here -->
                    <table class="list bshrm" id="studentInfo1">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe1">

                            <% BSHRM.length >= 1 && BSHRM.forEach((stud) => { if(stud["Year"] == "1st Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 2nd Year Table -->
                    <table class="list bshrm" id="studentInfo2" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe2">

                            <% BSHRM.length >= 1 && BSHRM.forEach((stud) => { if(stud["Year"] == "2nd Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 3nd Year Table -->
                    <table class="list bshrm" id="studentInfo3" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe3">

                            <% BSHRM.length >= 1 && BSHRM.forEach((stud) => { if(stud["Year"] == "3rd Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                     <!-- 4th Year Table -->
                     <table class="list bshrm" id="studentInfo4" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe3">

                            <% BSHRM.length >= 1 && BSHRM.forEach((stud) => { if(stud["Year"] == "4th Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    
        <!-- BSED ENG/BSED MATH Section -->
        <div class="tabular--wrapper" id="bsed">
            <h3 class="main--title">BSED ENG/BSED MATH</h3>
            <button class="view-all-button">View all</button>
            <div class="course-content">
                <ul class="tabs">
                    <!-- BSED ENG/BSED MATH Tabs go here -->
                    <li class="tab active" data-year="1">1st Year</li>
                <li class="tab" data-year="2">2nd Year</li>
                <li class="tab" data-year="3">3rd Year</li>
                <li class="tab" data-year="4">4th Year</li>
                </ul>
                <div class="table-container">
                    <!-- BSED ENG/BSED MATH Tables go here -->
                    <table class="list bsed" id="studentInfo1">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe1">

                            <% BSED.length >= 1 && BSED.forEach((stud) => { if(stud["Year"] == "1st Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 2nd Year Table -->
                    <table class="list bsed" id="studentInfo2" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe2">

                            <% BSED.length >= 1 && BSED.forEach((stud) => { if(stud["Year"] == "2nd Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 3nd Year Table -->
                    <table class="list bsed" id="studentInfo3" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe3">

                            <% BSED.length >= 1 && BSED.forEach((stud) => { if(stud["Year"] == "3rd Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                     <!-- 4th Year Table -->
                     <table class="list bsed" id="studentInfo4" style="display: none;">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>MI</th>
                                <th>First Name</th>
                                <th>Year</th>
                                <th>Course</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="hehe3">

                            <% BSED.length >= 1 && BSED.forEach((stud) => { if(stud["Year"] == "4th Year"){ %>
                                <tr>
                                    <td><%= stud["FirstName"] %></td>
                                    <td><%= stud["MiddleName"] %></td>
                                    <td><%= stud["LastName"] %></td>
                                    <td><%= stud["Year"] %></td>
                                    <td><%= stud["Course"] %></td>
                                    <td><%= stud["enrolment_status"] %></td>
                                </tr>
                            <% } }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        
       
    </div>
    <script>
        // Update your JavaScript to handle the new sections (similar to the BSIT section)
        document.addEventListener("DOMContentLoaded", function () {
            const tabs = document.querySelectorAll(".tab");
            const tableContainers = document.querySelectorAll(".table-container");
            const viewAllButtons = document.querySelectorAll(".view-all-button");

            tabs.forEach((tab) => {
                tab.addEventListener("click", () => {
                    tabs.forEach((t) => t.classList.remove("active"));
                    tab.classList.add("active");

                    const year = tab.getAttribute("data-year");
                    const course = tab.closest('.tabular--wrapper').id;

                    // Hide all tables
                    document.querySelectorAll(".list").forEach((table) => {
                        table.style.display = "none";
                    });

                    // Show the table for the active year and course
                    document.querySelector(`#${course} #studentInfo${year}`).style.display = "table";
                });
            });

            viewAllButtons.forEach((viewAllButton) => {
                viewAllButton.addEventListener("click", () => {
                    // Toggle the 'expanded' class on the corresponding table container
                    const tableContainer = viewAllButton.closest('.tabular--wrapper').querySelector(".table-container");
                    tableContainer.classList.toggle("expanded");
                });
            });
        });
 
    </script>
    <script type="text/javascript" src="/js/studentCourse.js"></script>
</body>
</html>
